# Microsoft Entra External ID Configuration
# Copy this file to .env and fill in your values
# Redirect URI: http://localhost:3005/auth/redirect

TENANT_NAME=mduext
USE_CIAM=true
PORT=3005
CLIENT_ID=22ac134b-5421-4771-8f85-21f6bde633ad
TENANT_ID=aae3822e-f98c-4aad-a474-2257bb4b840f